<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Signup</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
	<div class= "auth-container">
		    <h2>Customer Registration</h2>
			<form th:action="@{/customer/signup}" th:object="${customer}" method="post">

				<input type="text" th:field="*{fullName}" placeholder="Full Name" required />
		
				<input type="text" th:field="*{ifscCode}" placeholder="IFSC Code" required />
		
				<input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" />
		
				<input type="text" th:field="*{aadharNumber}" placeholder="Aadhar Number" />
		
				<input type="text" th:field="*{username}" placeholder="Username" required />
		
				<input type="password" th:field="*{password}" placeholder="Password" required />
		
				<button type="submit">Create Customer Account</button>
			</form>
	
			<div class="auth-footer">
		        <a th:href="@{/login}">Back to Login</a>
		    </div>
	</div>
</body>
</html>